<!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>JNP SA</strong>. All Rights Reserved
        </p>
        <div class="credits">
         
          Logiciel de digitalisation des processus de JNP SA - <a href="http://jnp.groupeakad.com/">AKADPRO</a>
        </div>
        <a href="blank.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->